*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    background: khaki;
}

body{
    display: flex;
    justify-content: center;
    height: auto;
}
.header{
    width: 100vw;
    height: 300px;
    background: goldenrod;;
}

.nav{
    /*background: papayawhip;*/
    width: 100vw;
    list-style: none;
    text-align: center;
    display: inline-flex;
    padding: .5rem;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.nav__item a{
    text-decoration: none;
    color: khaki;
}

.logo{
    width: 3rem;
    height: 3rem;
    background: khaki;
    border-radius: 50%;
}

.nav__item{
    height: 1.25rem;
    width: 100px;
    background: khaki;
    list-style: none;
}

.header__cta{
    width: 300px;
    height: 100px;
    /*background: khaki;*/
    position: absolute;
    margin-left: 1rem;
    top: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.header__cta-h2{
    background:khaki;
    width: 70%;
    height: 1rem;
}

.header__cta-h1{
    background:khaki;
    width: 100%;
    height: 1.5rem;
}
.main__store{
    width: 80vw;
    height: auto;
    background: darkgoldenrod;
    position: absolute;
    top: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5rem;
    z-index: 1;
}

.main__header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main__store-h1{
    background:khaki;
    width: 300px;
    height: 1.5rem;
    margin: 1rem auto;
    padding: .5rem;
}

.main__store-nav{
    width: 90%;
    margin-top: .25rem;
    height: 1.25rem;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    
}

.main__store-item{
    height: 1.25rem;
    width: 100px;
    background: khaki;
    list-style: none;
}

.main-products{
    height: auto;
    width: 100%;
    display: inline-flex;
    align-items: left;
    padding-left: 1rem;
    padding-top: 1rem;
}

.main_products-title{
    background:khaki;
    width: 300px;
    height: 1.5rem;
    padding: .5rem;

}

.products__delay{
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.products__delay-item{
    width: 150px;
    height: 200px;
    background: khaki;
    margin: 1rem;
    display: flex;
    align-items: flex-end;
}

.products__delay-info{
    width: 100%;
    height: 40%;
    background: goldenrod;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.products__info{
    background: khaki;
    height: 1rem;
    width: 80%;
    margin: 0 auto;
}

.products__price{
    background: khaki;
    height: 1rem;
    width: 60%;
    margin: 0 auto;
}

.new__products{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new__products-carousel{
    width: 70%;
    height: 220px;
    padding: .625rem;
    display: flex;
    align-items: stretch;
    justify-content: space-evenly
}

.new__product{
    width: 25%;
    background: khaki;
}

.footer{
    position: absolute;
    height: 400px;
    background: goldenrod;
    width: 100vw;
    bottom: -1850px;
    padding-top: 150px;
}